
/*Importa fonte do Google*/
/*@import url(http://fonts.googleapis.com/css?family=Titillium+Web:400,700);
@import url(http://fonts.googleapis.com/css?family=Arvo:400,700);*/

/*HTML*/
body{
	font-family:Arial, sans-serif;
	font-size:16px;		
	color:#333333;
	margin:0 auto;
	padding:0px;
	background:#fafafa;
	width:700px;
	height:100%;
}

textarea{
width:1000px;
height:500px;

}
textarea.curta{
height:180px;
width:400px;
}

h1
{
color:#CC0033;
/*color:#0990bd;*/
font-size:50px;
margin:10px 0 0;
}
h2
{
margin:10px;
}

p{
margin:10px;
}



ul {
	list-style-type:none;
	padding:0;
}

img {
	max-width:750px;
	width:100%;
}

legend{
font-size:14pt;	
color:#ff6600;
display: inline;

}
label{
display:block;
width: 100%;
}

input[type="submit"]{
float: right;
background: #99cc99;

}
/*
fieldset{
margin:30px;
}
*/
table {

			margin: 10px;
			padding: 0;
			border-collapse: collapse;
			text-align: left;
			color: #333;
			line-height: 19px;
		}
		td {
			margin: 0;
		}
		
		
		th {
			font-weight: normal;
			
		}
		
		thead tr th {
			background-color: #aaa;
			padding:  10px 10px;
			color: #333;
			font-weight: bold;
			text-align:center;
			-moz-border-radius:4px 4px 0 0;
			-webkit-border-radius:4px 4px 0 0;
			border-radius:4px 4px 0 0;
		}
		
		tfoot tr th, tfoot tr td {
			background-color: transparent;
			color: #ccc;
		}
		
		tbody tr th {
			padding: 10px 10px;
		}
		
		tr { 
			background-color: #f5f5f5;
			border:1px solid transparent;
		}
		tr.odd {
			background-color: #ffffff;
		}
		
		tr:hover {
		}
		
		tr:hover td>a, tr:hover th>a {
			/*color: #a10000;*/
		}
		
		td:hover {
			background-color:#d6ddea;
			-moz-border-radius:4px;
			-webkit-border-radius:4px;
			border-radius:4px;
		}

		tr:hover th a:hover {
			/*background-color: #F7FBEF;*/
			border-bottom: 2px solid #86C200;
		}
		
		table a {
			/*color: #608117;*/
			background-image: none;
			text-decoration: none;
			display:block;
			padding: 10px 20px;			
			font-size:18px;
			/*margin:0 0 0 25px;*/
		}
		table a.tutorial_preview {
			position:absolute;
			text-indent:-10000px;
			background:red;
			width:16px;
			height:16px;
			margin:12px 0 0 10px;
			padding:0;
		}
/*
		table a:hover {
			color: #BBC4CD;
			background-image: none;
			text-decoration: none;
			color: #608117;
		}
		
		table a:visited {
			text-decoration: none;
			color: #608117;
		}
		
		table a:visited:hover {
			background-image: none;
			text-decoration: none;
			color: #608117; 
		}
*/
#tabela_catalogo_length {
float:left;
font-size:12px;
}
#tabela_catalogo_filter {
float:right;
font-size:12px;
}
#tabela_catalogo_info {
    color: #666666;
    font-size: 12px;
    padding: 10px;
    text-align: right;
}
#tabela_catalogo{
width:100%;
margin:0;
clear:both;
}

.nome_ambiente {
	margin:-28px 0 0;
}


/*SEÇÕES*/


#form_cadastro_demo{
background: #ffdddd;
margin:10px;
padding:10px;
float:left;
}

.modal form {
	margin:0;
}

/*.catalogo, .cria_demo{
width: 45%;
margin:10px;
padding:10px;
float:left;
}*/
.cria_demo{
background: #ffefd5;
}

.container_atualizar_xml, .container_criar_nova_demo {
display:none;
width:320px;
padding:20px;
font-size:16px;
background:#e0e0e0;
-moz-border-radius:5px;
-webkit-border-radius:5px;
border-radius:5px;
}
/*
.container_criar_nova_demo {
display:none;
width:320px;
padding:20px;
font-size:16px;
background:#e0e0e0;
}*/

.catalogo_ferramentas_tutorial ul {
width:361px;
float:left;
background:#3f6e9d;
padding:1px 0 0 1px;
margin:0;
/*-moz-border-radius:5px;
-webkit-border-radius:5px;
border-radius:5px;*/
}
.catalogo_ferramentas_tutorial li {
float:left;
width:180px;
}
.catalogo_ferramentas_tutorial li a {
padding:0 10px 10px 0;
display:block;
font-size:16px;
color:#fafafa;
text-decoration:none;
text-align:center;
padding:15px;
background:#336699;
border:1px solid;
border-top-color:#85a3c2;
border-left-color:#85a3c2;
border-right-color:#214264;
border-bottom-color:#214264;
/*-moz-box-shadow: 2px 2px 2px #888;
-webkit-box-shadow: 2px 2px 2px #888;
box-shadow: 2px 2px 2px #888;*/

}
.catalogo_ferramentas_tutorial li a:hover {
background:#5b8ec2;
}
.fancybox-wrap h3 {
margin-top:0;
}

.container_criar_nova_demo label, .container_atualizar_xml label {
font-size:14px;
font-weight:bold;
}
.label_desc {
font-size:12px;
line-height:14px;
font-weight:normal;
color:#888;
margin-bottom:2px;
}

.fancybox-inner{
overflow-x:hidden !important;
overflow-y:hidden !important;
}
/*.catalogo{
background: #fffacd;
}*/